{% extends "base.html" %}

{% block content %}
    <div class="whitener"><h1>Hello, {{ user.username }}! Browse our Library</h1></div>
        
        <div class="row" > 
                <div class="column">
                    {% for book in books %}
                    <div class="bookdiv" >
                        <img src="../../static/images/book-placeholder.jpg" style="width:100%">    
                        <p>{{ book.author.username }} <br /> Book Title: <b>{{ book.title }}</b></p>
                    </div>
                {% endfor %}
                </div>
                
                <div class="column">
                        {% for book in books %}
                        <div class="bookdiv" >
                                <img src="../../static/images/book-placeholder.jpg" style="width:100%">
                                <p>{{ book.author.username }} <br /> Book Title: <b>{{ book.title }}</b></p>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                        {% for book in books %}
                        <div class="bookdiv" >
                                <img src="../../static/images/book-placeholder.jpg" style="width:100%">
                                <p>{{ book.author.username }} <br /> Book Title: <b>{{ book.title }}</b></p>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                        {% for book in books %}
                        <div class="bookdiv" >
                                <img src="../../static/images/book-placeholder.jpg" style="width:100%">
                                <p>{{ book.author.username }} <br /> Book Title: <b>{{ book.title }}</b></p>
                        </div>
                    {% endfor %}
                </div>

        </div>
{% endblock %}